html {
    /*colors*/
    background-color: whitesmoke;

    /*font*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

    /*alignment*/
    margin: auto;
    width: 750px;
}

mark {
    background-color: yellow;
}

#about {

    /*container adjustments*/
    padding: 25px;
    outline: black solid 2px;

    /*colors*/
    background-color: whitesmoke;
    color: black;
}

#footer {
    padding-top: 2%;

}