html {
    background-color: cornflowerblue;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

}

mark {
    background-color: yellow;
}

p {
    font-size: 17px;
}

td {
    font-size: 17px;
}

a {
    color: darkblue;
}

#header a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
}

#header {
    margin: 10px;
    margin-left: 0;
}

#content {
    margin: auto;
    width: 1000px;
    height: 800px;
}

#left {

    overflow: auto;

    position: absolute;

    width: 345px;
    height: 650px;
    padding: 15px;
    outline: black solid 2px;

    background-color: whitesmoke;
    color: black;

}

#blurb {

    position: absolute;
    left: 190px;
    top: 130px;

    width: 160px;
}

#timeline {

    overflow: auto;

    width: 340px;
    height: 250px;
}

#right {

    overflow: auto;

    position: absolute;
    margin-left: 385px;

    width: 600px;
    height: 650px;
    padding: 15px;
    outline: black solid 2px;

    background-color: whitesmoke;
    color: black;

}

#center {

    overflow: auto;

    position: absolute;

    width: 985px;
    height: 650px;
    padding: 15px;
    outline: black solid 2px;

    background-color: whitesmoke;
    color: black;

}